# /etc/systemd/system/gadget-deck@.service
[Unit]
Description=Steam Deck Gadget function
BindsTo=gadget-deck-base.service
After=gadget-deck-base.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/deck/GadgetDeck-DL
ExecStart=/home/deck/GadgetDeck-DL/venv/bin/python /home/deck/GadgetDeck-DL/gadget-deck-manager.py enable %i
ExecStop=/home/deck/GadgetDeck-DL/venv/bin/python /home/deck/GadgetDeck-DL/gadget-deck-manager.py disable %i


[Install]
WantedBy=multi-user.target
