# /etc/systemd/system/gadget-deck@shell.service
[Unit]
Description=Steam Deck Gadget MTP function
BindsTo=gadget-deck-base.service
After=gadget-deck-base.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/deck/GadgetDeck-DL
ExecStart=venv/bin/python /home/deck/GadgetDeck-DL/gadget-deck-manager.py enable shell
ExecStop=venv/bin/python /home/deck/GadgetDeck-DL/gadget-deck-manager.py disable shell

[Install]
WantedBy=multi-user.target
