# /etc/systemd/system/gadget-deck-base.service
[Unit]
Description=Steam Deck Gadget base

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/deck/GadgetDeck-DL
ExecStartPre=modprobe libcomposite
ExecStart=venv/bin/python /home/deck/GadgetDeck-DL/gadget-deck-manager.py setup
ExecStop=venv/bin/python /home/deck/GadgetDeck-DL/gadget-deck-manager.py destroy

[Install]
WantedBy=multi-user.target
